{% extends 'base.html' %}
    {% block content %}
        {% include 'navbar.html' %}

        <div class="container mt-5">
            <h1 class="mb-4">Cursos</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Carga Horaria Total</th>
                        <th scope="col">Duração em Meses</th>
                        <th scope="col">Área do Saber</th>
                        <th scope="col">Instituição de Ensino</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in cursos %}
                    <tr>
                        <td>{{ e.nome }}</td>
                        <td>{{ e.carga_horaria_total }}</td>
                        <td>{{ e.duracao_meses }}</td>
                        <td>{{ e.area_saber }}</td>
                        <td>{{ e.instituicao }}</td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
          </div>
        
        {% endblock %}