{% extends 'base.html' %}
    {% block content %}
        {% include 'navbar.html' %}

        <div class="container mt-5">
            <h1 class="mb-4">Estudantes</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Nome do Pai</th>
                        <th scope="col">Nome da Mãe</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Ocupação</th>
                        <th scope="col">RA</th>
                        <th scope="col">Turma</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in estudantes %}
                    <tr>
                        <td>{{ e.nome }}</td>
                        <td>{{ e.nome_do_pai }}</td>
                        <td>{{ e.nome_da_mae }}</td>
                        <td>{{ e.cpf }}</td>
                        <td>{{ e.data_nasc }}</td>
                        <td>{{ e.email }}</td>
                        <td>{{ e.cidade }}</td>
                        <td>{{ e.ocupacao }}</td>
                        <td>{{ e.ra }}</td>
                        <td>{{ e.turma }}</td>
                             </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
          </div>
        
        {% endblock %}