{% extends 'base.html' %}
    {% block content %}
        {% include 'navbar.html' %}

        <div class="container mt-5">
            <h1 class="mb-4">Frequências</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Curso</th>
                        <th scope="col">Disciplina</th>
                        <th scope="col">Pessoa</th>
                        <th scope="col">Número de Faltas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in frequencias %}
                    <tr>
                        <td>{{ e.curso }}</td>
                        <td>{{ e.disciplina }}</td>
                        <td>{{ e.estudante }}</td>
                        <td>{{ e.numero_faltas }}</td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
          </div>
        
        {% endblock %}